---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import { Image } from 'astro:assets';

import {Content as About_Content_Main} from '~/pages/about_main.md'
import {Content as About_Content} from '~/pages/about.md'
import {Content as About_Content_Recent_Research} from '~/pages/about_recent_research.md'
import {Content as About_Content_Contact} from '~/pages/about_contact.md'
import {Content as About_Content_News} from '~/pages/about_news.mdx'

import placeholder_img from '~/pages/research_publications_mdx/placeholder_0.png';
import frame_wise_conditioning_img from '~/pages/research_publications_mdx/frame-wise_conditioning.png';
import eccv2024_0_colab_img from '~/pages/research_publications_mdx/eccv2024_0_colab.png';
import anu_logo_img from '~/pages/research_publications_mdx/anu_logo_0.png';
import tmlr2024_0_img from '~/pages/research_publications_mdx/tmlr2024_0.png';
import wacv2024_0_img from '~/pages/research_publications_mdx/wacv2024_0.png';
import iccv2023_0_colab_img from '~/pages/research_publications_mdx/iccv2023_0_colab.png';
import cvpr2023_0_colab_img from '~/pages/research_publications_mdx/cvpr2023_0_colab.png';
import iccv2021_0_img from '~/pages/research_publications_mdx/iccv2021_0.png';

import {Content as Research_frame_wise_conditioning} from '~/pages/research_publications_mdx/frame-wise_conditioning.mdx'
import {Content as Research_eccv2024_0_colab} from '~/pages/research_publications_mdx/eccv2024_0_colab.mdx'
import {Content as Research_phd_thesis} from '~/pages/research_publications_mdx/phd_thesis_0.mdx'
import {Content as Research_tmlr2024_0} from '~/pages/research_publications_mdx/tmlr2024_0.mdx'
import {Content as Research_wacv2024_0} from '~/pages/research_publications_mdx/wacv2024_0.mdx'
import {Content as Research_iccv2023_0_colab} from '~/pages/research_publications_mdx/iccv2023_0_colab.mdx'
import {Content as Research_cvpr2023_0_colab} from '~/pages/research_publications_mdx/cvpr2023_0_colab.mdx'
import {Content as Research_iccv2021_0} from '~/pages/research_publications_mdx/iccv2021_0.mdx'


const { translate: t } = Astro.locals

// const apiUrl_time = "https://timeapi.io/api/Time/current/zone?timeZone=Australia/Adelaide"

---
<LayoutDefault>
  <main un-lg="py-20 min-w-xl animate-fadein-down" class="p-7.5"> 
  
    <div class="flex items-center grid grid-cols-4 gap-4">
    <!-- <div class="flex grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3"> -->

      <div>
        <img class="rounded" style="width:120px" src="/zheyuan_david_avatar_4_5.png" alt="profile picture"> 
      </div>

      <div class="col-start-2 col-span-3">
        <article class="heti">

          <div style="margin-bottom:0.2em;font-size: 11.5pt;"><span class="i-mdi:email-arrow-left">Icon</span>zheyuan.david.liu [at] outlook dot com</div>
          <div style="margin-bottom:0.2em;font-size: 11.5pt;"><span class="i-mdi:contact-phone">Icon</span><a href="https://researchers.adelaide.edu.au/profile/zheyuan.liu">Institute Profile</a></div>
          <div style="margin-bottom:0.2em;font-size: 11.5pt;"><span class="i-mdi:file-download">Icon</span><a href="cv_plain.html">Curriculum Vitae</a></div>
      
        </article>
      </div>

    </div>
  <section contain-layout un-flex="~ col gap-7.5">
    <article class="heti">
      </br>
      </br>
      <About_Content_Main />
    </article>
  </section>  
  
  <section contain-layout un-flex="~ col gap-7.5">
    <article class="heti">
      </br>
      <About_Content />
    </article>
  </section>  

  <section contain-layout un-flex="~ col gap-7.5">
    <article class="heti">
      </br>
      <About_Content_Recent_Research />
    </article>
  </section>  

  <section contain-layout un-flex="~ col gap-7.5">
    <article class="heti">
      </br>
      </br>
      <center><About_Content_News /></center>
    </article>
  </section>  

  <section contain-layout un-flex="~ col gap-7.5">
    <article class="heti">
      <div style="font-size: 13.5pt; font-weight: bold; padding-bottom: 15px"><center>Recent Research</center></div>
      
      <div class="max-w-md mx-auto overflow-hidden md:max-w-2xl">
        <div class="md:flex">
          <div class="p-3 -mb-6 md:shrink-0">
            <Image class="mt-3.5 rounded-md shadow-sm w-48 mx-auto object-cover hover:shadow-lg" style="transition:all .3s ease-in-out;" src={frame_wise_conditioning_img} alt="frame_wise_conditioning_img"> 
          </div>
          <div class="p-3 leading-tight text-slate-700">
            <Research_frame_wise_conditioning />
          </div>
        </div>
      </div>
      
      <div class="max-w-md mx-auto overflow-hidden md:max-w-2xl">
        <div class="md:flex">
          <div class="p-3 -mb-6 md:shrink-0">
            <Image class="mt-3.5 rounded-md shadow-sm w-48 mx-auto object-cover hover:shadow-lg" style="transition:all .3s ease-in-out;" src={eccv2024_0_colab_img} alt="eccv2024_0_colab_img"> 
          </div>
          <div class="p-3 leading-tight text-slate-700">
            <Research_eccv2024_0_colab />
          </div>
        </div>
      </div>
      
      <div class="max-w-md mx-auto overflow-hidden md:max-w-2xl">
        <div class="md:flex">
          <div class="p-3 -mb-6 md:shrink-0">
            <Image class="mt-3.5 rounded-md shadow-sm w-48 mx-auto object-cover hover:shadow-lg" style="transition:all .3s ease-in-out;" src={anu_logo_img} alt="anu_logo_img"> 
          </div>
          <div class="p-3 leading-tight text-slate-700">
            <Research_phd_thesis />
          </div>
        </div>
      </div>
      
      <button id="toggle-button">
        <span class="label">Click to Expand</span>
        <span class="arrow">▼</span>
      </button>
      <div id="collapsible-content">

      <div class="max-w-md mx-auto overflow-hidden md:max-w-2xl">
        <div class="md:flex">
          <div class="p-3 -mb-6 md:shrink-0">
            <Image class="mt-3.5 rounded-md shadow-sm w-48 mx-auto object-cover hover:shadow-lg" style="transition:all .3s ease-in-out;" src={tmlr2024_0_img} alt="tmlr2024_0_img"> 
          </div>
          <div class="p-3 leading-tight text-slate-700">
            <Research_tmlr2024_0 />
          </div>
        </div>
      </div>

      <div class="max-w-md mx-auto overflow-hidden md:max-w-2xl">
        <div class="md:flex">
          <div class="p-3 -mb-6 md:shrink-0">
            <Image class="mt-3.5 rounded-md shadow-sm w-48 mx-auto object-cover hover:shadow-lg" style="transition:all .3s ease-in-out;" src={wacv2024_0_img} alt="wacv2024_0_img"> 
          </div>
          <div class="p-3 leading-tight text-slate-700">
            <Research_wacv2024_0 />
          </div>
        </div>
      </div>

      <div class="max-w-md mx-auto overflow-hidden md:max-w-2xl">
        <div class="md:flex">
          <div class="p-3 -mb-6 md:shrink-0">
            <Image class="mt-3.5 rounded-md shadow-sm w-48 mx-auto object-cover hover:shadow-lg" style="transition:all .3s ease-in-out;" src={iccv2023_0_colab_img} alt="iccv2023_0_colab_img"> 
          </div>
          <div class="p-3 leading-tight text-slate-700">
            <Research_iccv2023_0_colab />
          </div>
        </div>
      </div>

      <div class="max-w-md mx-auto overflow-hidden md:max-w-2xl">
        <div class="md:flex">
          <div class="p-3 -mb-6 md:shrink-0">
            <Image class="mt-3.5 rounded-md shadow-sm w-48 mx-auto object-cover hover:shadow-lg" style="transition:all .3s ease-in-out;" src={cvpr2023_0_colab_img} alt="cvpr2023_0_colab_img"> 
          </div>
          <div class="p-3 leading-tight text-slate-700">
            <Research_cvpr2023_0_colab />
          </div>
        </div>
      </div>

      <div class="max-w-md mx-auto overflow-hidden md:max-w-2xl">
        <div class="md:flex">
          <div class="p-3 -mb-6 md:shrink-0">
            <Image class="mt-3.5 rounded-md shadow-sm w-48 mx-auto object-cover hover:shadow-lg" style="transition:all .3s ease-in-out;" src={iccv2021_0_img} alt="iccv2021_0_img"> 
          </div>
          <div class="p-3 leading-tight text-slate-700">
            <Research_iccv2021_0 />
          </div>
        </div>
      </div>
      </div>
      
    </article>
  </section> 

  </main>
  </br> 
  <hr style="height:1.5px;border-width:0;color:rgba(188, 188, 188, 0.589);background-color:rgba(129, 129, 129, 0.306)"> 

  </LayoutDefault>
